<!DOCTYPE html>
<html>
  <head>
    <title>{{RuteoNode}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <h1> Carrito de Compras en construcción</h1>
    {{{body}}}
  </body>
</html>
