<!DOCTYPE html>
<html>
  <head>
    <title>{{RuteoNode}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenidos</h1>
    {{{body}}}
  </body>
</html>




