<!DOCTYPE html>
<html>
  <head>
    <title>{{RuteoNode}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
			<div className="container">
					<h1>Iguamku Cerámica</h1>
				<nav>
					<div className="navbar">
              			<li><a href="/">Home</a></li>
						<li><a href="/inscripciones">Inscripciones</a></li> 
						<!--Asociado a btn 'INSCRIBITE YA' de la sección Hero. Redirecciona a Form de inscripcion 
						y vincula con BD.--> 
						<li><a href="/novedades">Novedades</a></li> 
						<!--Asociado a la sección 'Actividades'. Redirecciona a un blog.-->
						<li><a href="/carritocompras">Carrito de Compras</a></li> 
						<!--Asociado a sección 'Productos'. Diseñar el carrito.-->
						<li><a href="/contacto">Contacto</a></li> 
						<!--Asociado a sección 'Contacto'. Vincula con BD.-->
						<li><a href="/login">Ingresar</a></li> 
						<!--Redirecciona a pagina con form Login.-->
						<li><a href="/cuenta">Crear Cuenta</a></li> 
						<!--Redireccion a pagina con form Crear Cuenta.-->
					</div>
				</nav>
			</div>
  	</header>
    {{{body}}}
  </body>
</html>
